<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZ0nSh03o8SKzyIgb0kPhcF7F5QoOp9N0</string>
	<key>GCM_SENDER_ID</key>
	<string>571055662569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.humayra.laundryMate</string>
	<key>PROJECT_ID</key>
	<string>laundry-mate-6bde8</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-mate-6bde8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571055662569:ios:aa058da1e55a441d3d9778</string>
</dict>
</plist>